# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# VSCode settings
.vscode/
.code-workspace

# Shell history and local state
.zsh_history
.bash_history
.python_history
.lesshst
.viminfo

# Log and cache files
*.log
.cache/
.zsh_sessions/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Trash and temp files
.Trash
*~
